<html>
    <head>
        {% if title %}
        <title>Golos Desktop — {{ title }}</title>
        {% else %}
        <title>Golos Desktop</title>
        {% endif %}
    </head>
    <body>
        <div>
            <div>
            Client:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
