<html>
    <head>
        {% if title %}
        <title>Golos Desktop — {{ title }}</title>
        {% else %}
        <title>Golos Desktop</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body>
        <header class="header">
            <div class="header__logo"></div>
            <div class="menu__item"><a href="{{ url_for('index') }}">ГОЛОС</a></div>
            {% if current_user.is_anonymous %}
            <div class="menu__item"><a href="{{ url_for('login') }}">Войти</a></div>
            {% else %}
            <div class="menu__item"><a href="{{ url_for('logout') }}">Выйти</a></div>
            <div class="menu__item"><a href="{{ url_for('transfer') }}">Перевод</a></div>
            <div class="menu__item"><a href="{{ url_for('post') }}">Предложить пост</a></div>
            {% endif %}
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
