{% extends "base.html" %}

{% block content %}
    {% if current_user.is_anonymous %}
    <h2>Добро пожаловать!</h2>
    {% else %}
    <h2>Добро пожаловать, {{ current_user.username }}!</h2>
    <h3>Актальные посты</h3>
    <div>
    {% for post in posts %}
    <div class="post">
        <h4 class="post__title">{{ post.title }}</h4>
        <div class="post__about">{{ post.author }} написал(а) в {{ post.created }}</div>
        <div class="post_body">
            {{ post.body }}
        </div>
    </div>
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}
