{% extends "base.html" %}

{% block content %}
    <h1>Post</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.message.label }}<br>
            {{ form.message(size=64) }}<br>
            {% for error in form.message.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tag.label }}<br>
            {{ form.tag(size=64) }}<br>
            {% for error in form.tag.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}