{% extends "base.html" %}

{% block content %}
    <h1>Перевод</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.to.label }}<br>
            {{ form.to(size=32) }}<br>
            {% for error in form.to.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.amount.label }}<br>
            {{ form.amount(size=32) }}<br>
            {% for error in form.amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p>
            {{ form.message.label }}<br>
            {{ form.message(size=64) }}<br>
            {% for error in form.message.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}